body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.7rem;
  height: 100vh;
  position: relative;
}

header {
  text-align: center;
  padding: 20px;
  background-color: rgb(47, 0, 118);
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: blue;
  min-width: 100%;
  color: white;
  padding: 5px 0;
  font-size: 0.9rem;
}

.mainFrame {
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  text-align: center;
  padding-top: 30px;
  min-height: max-content;
}

.inputFrame {
  padding: 30px;
  margin-bottom: 1rem;
}

.callTask {
  padding-bottom: 10px;
}

#inputTask {
  font-size: 1.5rem;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px;
  min-width: 90%;
}

#sendTask {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  background-color: black;
  color: white;
}

.taskContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
}

.taskValue, .taskValue:disabled, .taskValue::placeholder {
  text-align: center;
  width: 90%;
  max-width: 90%;
  white-space: nowrap;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  border: none;
  color: black ;
  background-color: white;
}

.removeButton, .editButton, .checkButton {
min-width: 30px;
min-height: 30px;
height: 30px;
background-color: red;
border-radius: 50%;
margin-right: 10px;
cursor: pointer;
}

.editButton{
  background-color: blue;
}

.checkButton{
  background-color: lightgreen;
}

li > div{
  min-width: max-content;
  padding-left: 5px;
}

::-webkit-scrollbar{
  background-color: white;
  height: 1px;
}